.container {
    display: flex;
    justify-content: center;
}

.containerHalf {
    width: 50%;
    max-width: 700px;
    background-color: #f6f6f6;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    padding: 0.5rem;
    border-radius: 20px;
}